@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Holtwood+One+SC&family=Permanent+Marker&family=Titan+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

a {
  text-decoration: none; }

body {
  font-family: 'calibri';
  background-color: #edf2fa; }

nav {
  background: #a8ff78;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.6); }

ul {
  margin-top: 0;
  margin-bottom: 0; }

.enlace-logo {
  position: absolute;
  padding: 20px; }

.nav__logo {
  font-family: 'Gravitas One', cursive;
  font-size: 30px;
  margin-left: 30px;
  color: #000;
  font-weight: bold; }

.nav__lista li a {
  padding: 7px 13px;
  font-size: 18px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px; }

.nav__lista {
  float: right;
  margin-right: 20px; }

.nav__lista li {
  display: inline-block;
  margin: 20px 5px; }

.nav__lista li a:hover {
  background: #4bcf4b;
  transition: .5s; }

.check-boton {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

.body-index {
  background: #faf0ee; }

.titulo-index {
  font-family: 'Gravitas One', cursive;
  font-size: 70px;
  font-weight: 800;
  margin: 30px auto;
  text-align: center; }

.card {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 20px; }

.card:hover {
  transform: translateY(-15px);
  transition: all .3s; }

.text1 {
  font-size: 13px;
  color: #cbcbcb; }

.info {
  line-height: 17px; }

.star {
  color: #fbc02d; }

.cost span {
  color: #fb3531;
  font-weight: bold;
  font-size: 20px; }

.btn-card {
  background: #dc3545; }

.btn-card:hover {
  opacity: .8; }

.cursor {
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.infinito {
  margin-left: 75px;
  font-size: 75px;
  color: #ff4800; }

.infinito span i {
  text-transform: uppercase; }

.contacto__formulario {
  background: #fc00ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0; }

.titulo__formulario {
  text-align: center;
  margin: 10px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800; }

.form__contactos {
  background: #fff;
  width: 30%;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8); }

.formulario__contenedor {
  width: 100%;
  margin: auto; }

.grupo {
  position: relative;
  margin: 45px; }

.grupo input, textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid;
  resize: none; }

.grupo label {
  top: -16px;
  position: absolute;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold; }

.grupo input:focus, textarea:focus {
  outline: none;
  color: #5e5d5d; }

.boton__contacto {
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  margin: 10px    auto;
  cursor: pointer;
  background: linear-gradient(to right, #00dbde, #fc00ff); }

.mv__main {
  background: #000;
  padding: 115px auto;
  padding-top: 50px; }

.mv__contenedor {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff; }

.mv__titulo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-bottom: 64px;
  font-size: 69px;
  position: relative;
  margin-left: 50px; }

.mv__grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 220px);
  padding: 0 0 100px 0; }

.mv__categoria {
  display: flex;
  gap: 1rem; }

.mv__img {
  width: 125px;
  height: 220px;
  overflow: hidden; }

.mv__descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 220px; }

.mv__puesto {
  padding: 10px 0 10px 0; }

.mv__nombre h3 {
  margin-bottom: 0;
  text-align: center; }

.mv__precio {
  font-size: 25px;
  color: #ff5b34;
  font-weight: bold; }

.mv__comprar {
  background: #ff5b34;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
  padding: 0 25px;
  margin-bottom: 20px;
  cursor: pointer; }

.mayorista__main {
  background: #000000;
  color: #faf1ed; }

.mayorista__titulo {
  max-width: 700px;
  padding: 50px;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold; }

.mayorista__boton span {
  background: #ff5b34;
  display: inline-block;
  border-radius: 30px;
  padding: 7px 125px;
  margin-left: 50px;
  font-size: 25px;
  cursor: pointer; }

.mayorista__contacto {
  padding: 0 50px; }

.mayorista__contacto h4 {
  padding-top: 20px;
  font-size: 25px; }

.mayorista__caracteristicas {
  margin-left: 50px;
  margin-top: 50px; }

.mayorista-contenedor {
  max-width: 1200px;
  padding: 50px 0;
  display: flex;
  height: 250px;
  justify-content: space-between; }

.mayorista-contenedor h2 {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 30px; }

.mayorista-contenedor p {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.mayorista__contenido {
  text-align: center;
  padding: 0 10px; }

.mayorista__contenido-centro {
  text-align: center;
  border-right: 3px solid #00b188;
  border-left: 3px solid #5769e9;
  padding: 0 10px; }

.emote-texto {
  display: block;
  margin-top: 5px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.emote-texto-1 {
  color: #ff5b35; }

.emote-texto-2 {
  color: #5769e9; }

.emote-texto-3 {
  color: #00b188; }

.registro__main {
  padding-top: 100px;
  padding-bottom: 80px;
  background: #ac1e99;
  background: linear-gradient(22deg, #ac1e99 15%, #8e1f9c 26%, #5a1d78 54%, #4b2486 82%, #1f42aa 96%); }

.formulario {
  width: 400px;
  background: #022f41;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f1f1f1;
  box-shadow: 7px 13px 37px #000; }

.formulario__titulo {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase; }

.control--registro {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: #f1f1f1; }

.formulario__texto {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px; }

.boton {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px; }

.formulario__enlace {
  color: white; }

.footer__contenedor {
  max-width: 100%;
  margin: auto; }

ul {
  list-style: none; }

.footer {
  background-color: #24262b;
  padding: 50px 0; }

.filas {
  display: flex;
  flex-wrap: wrap; }

.footer__columnas {
  width: 25%;
  padding: 0 15px; }

.footer__titulo {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  text-align: start;
  margin-left: 32px; }

.footer__enlace {
  font-size: 23px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 300;
  color: #bbbbbb;
  transition: all 0.3s ease; }

.footer__enlace:hover {
  transform: translatey(-6px); }

.footer__columnas .redes-sociales .footer__enlace {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff; }

.redes-sociales {
  margin-left: 32px; }

@media screen and (max-width: 1024px) {
  .enlace-logo {
    padding-top: 25px;
    padding-left: 10px; }
  .nav__lista {
    gap: none; }
  .nav__lista li a {
    font-size: 1rem;
    padding: 7px 0; }
  .nav__logo {
    margin: 0;
    font-size: 20px; }
  .titulo-index {
    font-size: 50px; }
  .mv__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .mayorista-contenedor {
    flex-direction: column;
    padding: 50px 0;
    height: auto; }
  .mayorista-contenedor h2, p {
    text-align: start;
    margin-bottom: 0; }
  .mayorista-contenedor h2 {
    padding-bottom: 10px; }
  .mayorista-contenedor p {
    padding-bottom: 30px; }
  .mayorista__contenido-centro {
    border: none; }
  .contenido__titulo-1 {
    color: #00b188; }
  .contenido__titulo-2 {
    color: #5769e9; }
  .contenido__titulo-3 {
    color: #ff5b35; }
  .form__contactos {
    width: 65%; }
  .footer__columnas {
    width: 50%;
    margin-bottom: 30px; } }

@media screen and (max-width: 600px) {
  .check-boton {
    display: block;
    margin-right: 2rem; }
  .nav__lista {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #24303c;
    left: -100%;
    text-align: center;
    transition: all .5s;
    top: 79px;
    z-index: 100; }
  .nav__lista li {
    display: block;
    line-height: 50px 0;
    margin: 50px 0; }
  .nav__lista li a {
    font-size: 20px; }
  .nav__lista li a:hover {
    background: none;
    transform: translateX(20px);
    transition: all .5s; }
  .nav__lista li a:active {
    color: red; }
  #check:checked ~ ul {
    left: 0; }
  ol, ul {
    padding-left: 0; }
  .titulo-index {
    font-size: 30px; }
  .infinito {
    font-size: 35px;
    margin-left: 0%;
    margin: 0 35px; }
  .form__contactos {
    width: 90%; }
  .mv__img {
    margin-left: 10px; }
  .mv__titulo {
    padding: 0 30px;
    font-size: 50px;
    margin: 10px auto; }
  .mv__categoria {
    margin: 0 auto;
    gap: 5px; }
  .mv__precio {
    text-align: start;
    padding: 0; }
  .mv__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr); }
  .mv__nombre h3 {
    text-align: start; }
  .mv__comprar {
    margin: 0 0;
    margin-bottom: 15px;
    max-width: 125px; }
  .mayorista__titulo {
    font-size: 1rem; }
  .mayorista__boton span {
    margin: 0 0 0 40px;
    padding: 5px 40px;
    font-size: 20px; }
  .mayorista__contacto {
    padding: 0 40px; }
  .mayorista__contacto h4 {
    padding-top: 20px;
    font-size: 19px; }
  .mayorista__caracteristicas {
    margin: 50px 0 0 20px; }
  .emote-texto {
    font-size: 25px; }
  .formulario {
    width: 90%; }
  .formulario__texto {
    line-height: 20px;
    margin-bottom: 5px; }
  .footer__columnas {
    width: 100%;
    text-align: left; } }
