@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Holtwood+One+SC&family=Permanent+Marker&family=Titan+One&display=swap');

.body-index{
    background: #faf0ee;
}

.titulo-index{
    margin: 30px 65px;
    font-weight: bold;
}

.titulo-index h1{
    font-family: 'Gravitas One', cursive;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
}


.card {
    border: none;
    outline: none;
    background-color: $color-blanco;
    border-radius: 20px;
}

.card:hover {
    transform: translateY(-15px);
    transition: all .3s;
}

.text1{
    font-size: 13px;
    color: #cbcbcb;
}

.info{
    line-height: 17px;
}

.star{
    color: #fbc02d;
}

.cost span {
    color: #fb3531;
    font-weight: bold;
    font-size: 20px;
}

.btn-card {
    background: #dc3545;
}

.btn-card:hover {
    opacity: .8;
}

.cursor {
    cursor: pointer;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
}

.infinito {
    margin-left: 75px;
    font-size: 75px;
    color: rgb(255, 72, 0)
}
.infinito span i {
    text-transform: uppercase;
}
