@media screen and (max-width: 1024px ) {

    .enlace-logo{
        padding-top:25px ;
        padding-left: 10px;
    }
    .nav__lista {
        gap: none;
    }

    .nav__lista li a {
        font-size: 1rem;
        padding: 7px 0;
    }
    
    .nav__logo{
        margin: 0;
        font-size: 20px ;
    }

    //? index
    .mv__grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    //? mayorista

    .mayorista-contenedor {
        flex-direction:column ;
        padding: 50px 0;
        height: auto;
    }

    .mayorista-contenedor h2, p{
        text-align: start;
        margin-bottom: 0;
    }
    .mayorista-contenedor h2{
        padding-bottom:10px ;
    }

    .mayorista-contenedor p{
        padding-bottom:30px ;
    }
    .mayorista__contenido-centro {
        border: none;
    }
    

    .contenido__titulo-1 {
        color: #00b188 ;
    }
    .contenido__titulo-2 {
        color: #5769e9;
    }
    
    .contenido__titulo-3 {
        color: #ff5b35;
    }

    // ? mayorista

    .form__contactos{
        width: 65%;
    }

    //? footer

    .footer__columnas{
        width: 50%;
        margin-bottom: 30px;
        }
    }