@media screen and (max-width: 600px) {
    
    .mayorista__titulo{
        font-size: 1rem;
    }

    .mayorista__boton span {
        margin: 0 0 0 40px;
        padding: 5px 40px;
        font-size: 20px;
    }

    .mayorista__contacto{
        padding: 0 40px;
    }
        
    .mayorista__contacto h4 {
        padding-top: 20px;
        font-size: 19px;
    }

    .mayorista__caracteristicas{
        margin: 50px 0 0 20px;
    }
    .emote-texto{
        font-size: 25px;
    }
}