@media screen and (max-width: 1024px ) {

    .enlace-logo{
        padding-top:25px ;
        padding-left: 10px;
    }
    .nav__lista {
        gap: none;
    }

    .nav__lista li a {
        font-size: 1rem;
        padding: 7px 0;
    }
    
    .nav__logo{
        margin: 0;
        font-size: 20px ;
    }
}